*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    top: 0;
    justify-content:space-between;
    width: 50% auto;
    height:80px;
    background:#aaa7a7;
    box-shadow:0 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cadre-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: red;
    height: 100%;
    margin-left: 30px;
    color: #fff;
    background: rgb(87, 9, 9);
    border-radius:80%;
    cursor: pointer;
}
.logo{
    font-family:Georgia, 'Times New Roman', Times, serif;
}